
:root {
    --vermelho-escuro: #8C031C;
    --rosa-medio: #BF6980;
    --cinza-claro: #F0F0F2;
    --dourado: #D9B607;
    --branco: #ffffff;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, var(--vermelho-escuro), var(--rosa-medio));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    min-height: 100vh;
}

.titulo {
    margin-top: 40px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.card {
    background-color: var(--branco);
    width: 380px;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 8px 8px 0px var(--dourado);
    margin-top: 20px;
}

.card-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, var(--rosa-medio), var(--vermelho-escuro));
    padding: 10px;
    border-radius: 12px;
    color: var(--branco);
}

.bolinhas span {
    width: 14px;
    height: 14px;
    background-color: var(--cinza-claro);
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    box-shadow: 0 0 5px rgba(240,240,242,0.5);
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form label {
    margin-top: 10px;
    font-weight: bold;
    color: var(--vermelho-escuro);
}

.form input[type="email"],
.form input[type="password"] {
    padding: 12px;
    border-radius: 12px;
    border: 2px solid var(--cinza-claro);
    margin-top: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: none;
    border-color: var(--rosa-medio);
    box-shadow: 0 0 10px rgba(191,105,128,0.3);
    transform: scale(1.02);
}

.link {
    font-size: 13px;
    margin-top: 5px;
    color: var(--dourado);
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
    color: var(--rosa-medio);
}

.btn-entrar, .btn-cadastro {
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, var(--dourado),  #8C5C03);
    color: var(--branco);
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-entrar:hover, .btn-cadastro:hover {
    background: linear-gradient(45deg, var(--rosa-medio), var(--vermelho-escuro));
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(139,3,28,0.4);
}

.lembrar {
    margin-top: 10px;
    color: var(--vermelho-escuro);
    font-size: 14px;
}

.lembrar input[type="checkbox"] {
    margin-right: 8px;
    accent-color: var(--rosa-medio);
}